* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    
}
::selection{
    background:orange;
  }
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d2c323;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #d2c323;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

input[type="checkbox"]:checked {
    background-color: #d2c323;
}

 input[type="checkbox"]:focus {
    outline: 2px solid #908618;  
    transform: rotate(15deg);  
}

 input[type="checkbox"]:not(:focus) {
    transform: rotate(0deg);  
}
